// add
#icon-hidden.hiddend{
  display: none;
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed;
}
.container-fluid {
  padding-top: 1.5rem !important;
  // background: url(/img/birthday_bg.png);
  background-size: 80% 86%;
  display: -webkit-flex;
  display: flex;
  // background-attachment: fixed;
  background-repeat:no-repeat;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  // background-position: right bottom;
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed;
}
.sticky-bg-size{
  background-size: 100% 100%!important;
  transition: all 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
.rolback-sticky{
  background-size: 80% 100%;
}
.container-fluid.sticky{
  background-position-x:0px;
  background-size: 100% 100%;
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed;
}
.container-fluid.sticky-scroll{
  background-position-y:55px;
  background-size: 80% 100%;
  transition: all 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
#app-login{
  // background: url(/img/birthday_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media only screen and (max-width : 1248px) {
  .display-3 {
    font-size: 2.5rem
      /* other styles here */
  }
  .display-4{
    font-size: 2.5rem
  }
}
@media only screen and (max-width : 1024px) {
  .container-fluid {
    background-repeat: repeat;
    background-size: contain;
    background-position: inherit;
  }
}
table.b-table[aria-busy='true'] {
  opacity: 0.6;
}

#bg-div{
  // background-image: url(/img/birthday_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 100ms;
  position: fixed;
  top: 100px;
  // z-index: -1;
  width: 100%;
  height: calc(100% - 45px);
}
#bg-div.sticky{
  // height: 100%;
  background-size:  100% 100%;
  top: 45px;
  transition: all 100ms;
}
#bg-div.stickyFull{
  background-size:  100% 100%;
}
#bg-div.sticky-click{
  background-size: 100% 100%;
}
.v-select {
  min-width: 200px;
  display: inline-block;
  /* width: 100%; */
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3e515b;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #c2cfd6;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.vs__dropdown-toggle{
  border: none!important;
  border-radius: 0px!important
}
body{
  scroll-behavior: smooth ;
}
@media (min-width: 576px)
{
  .form-w .custom-select{
    width: 200px!important
  }
}
.text-roles{
  margin-right: 10px;
  cursor: pointer;
}
.landing-page{
  min-width: 500px;
  padding: 50px;
}
.landing-page .card{
  -webkit-box-shadow: 6px 7px 26px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 26px -6px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 26px -6px rgba(0,0,0,0.75);
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
}
.ck-editor__editable_inline {
  min-height: 300px;
}
.remover-link{
  color: #000;
}
.remover-link:hover {
  text-decoration: none!important
}
.tab-dashboard {
  margin-bottom: inherit!important;
  background: #FFF3CD;
  padding: 5px 10px;
  border: 1px solid #C2CFD6;
  border-bottom: inherit!important;
}
.sticky-breadcrumb{
  width: 100%;
  position: fixed;
  top: 55px;
  z-index: 1;
}
.table-roles fieldset {
  margin-bottom: 0!important
}
