// core overrides
//Sidebar
$sidebar-nav-title-color: $black;
$sidebar-nav-link-color: $black;
$sidebar-nav-link-hover-bg: $gray-800;
$sidebar-nav-link-active-bg: #25333A;
$sidebar-nav-link-active-color: $gray-900;
